artifacts/**
build/**
.build_script/**
node_modules/**
Documentation/ApiDocs/**
Documentation~/ApiDocs/**
UnityToonshader_Project~/**
UnityToonshader_ProjectHDRP~/**
UnityToonshader_ProjectURP~/**
com.unity.toonshader/Samples~/HDRP/**
com.unity.toonshader/Samples~/Legacy (built-in)/**
com.unity.toonshader/Samples~/Universal RP/**
.DS_Store
.npmrc
.npmignore
.gitignore
CONTRIBUTING.md
CONTRIBUTING.md.meta
QAReport.md
QAReport.md.meta
.gitlab-ci.yml
build.sh
build.sh.meta
build.bat
build.bat.meta

